{% extends 'base.html'%}

{% block title %}<title>Registrar Clinica</title>{% endblock title%}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card bg-light text-dark">
                <div class="card-body">
                    <h2>Registro de clinicas</h2>
                    <hr>
                    <form action="" method="post">

                        {%csrf_token%}
                        {{ form|crispy}}
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-danger" href="{% url 'index' %}">Cancelar</a>
                            &nbsp;
                            <input type="submit" value="Ingresar" class="btn btn-success float-right">
                        </div>
                            

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%} 