{% extends 'base.html' %}  

{% block content %}
<div>
<h3> Registrar un Empleado</h3>
</div>

<div>
    <form role="form" method="POST" enctype ="multipart/form-data" >
        {% csrf_token %}
        <table>
            <tr>
                <td width="200">
                    <h5>Datos del Paciente</h5>
                    {{form.as_table}}
                </td>
            </tr>
  
        </table>   
        <br>
        <div>   
        <input type="submit"  class="btn btn-success" style="background-color:#33CC00;color:white" name="submit" value="Guardar">

        <a href="{% url 'listado_empleados' %}" class="btn btn-success" style="color:white; background-color:#f6685e">Cancelar</a>
        </div>      
    </form>
</div> 

<script type="text/javascript">

// SELECT DEPENDIENTE PARA LOS MUNICIPIOS====================================
    $(document).ready(function(){
        $("#id_departamento").on("change", getMunicipios);    
        $("#id_clinica").on("change", getConsultorios);
    });

    function getMunicipios(){
        var departamentoId = $("#id_departamento").val();
        if (departamentoId){
            $("#id_municipio").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'load_Municipio' %}",
                data: {
                    "depId":departamentoId
                },
            });
            request.done(function(response){
                $("#id_municipio").html(response);
               
            });
    
        }else{
            $("#id_municipio").html('<option value="" selected = "selected">-----------</option>');      
            $("#id_municipio").trigger("change");
        }
    }
//===========================================================================

    function getConsultorios(){
        var valor = $("#id_clinica").val();
        if (valor){
            $("#id_consultorio").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'load_consultorio' %}",
                data: {
                    "consultId":valor
                },
            });
            request.done(function(response){
                $("#id_consultorio").html(response);
                
            });
        
        }else{
            $("#id_consultorio").html('<option value="" selected = "selected">-----------</option>');      
            $("#id_consultorio").trigger("change");
        }
    }
</script>

{% endblock content%}