{% extends 'base.html' %}  

{% block content %}
<div>
<h5>Crear Nuevo Horario</h5>
</div>

<div>
    <form role="form" method="POST" enctype ="multipart/form-data" >
        {% csrf_token %}
        <div>
            <B><label>Introduzca el Nombre de la Clínica</label></B>
        </div>

        <table>
            <tr> 
                <td>
                </td>
                <td width="200">
                    <input type="text" placeholder="Buscar Clínica" id="id_buscar" name="buscar" value="{{ request.GET.buscar }}">
                </td>
                <td width="200">
                    {{form}}
                </td>
            </tr>
  
        </table>   
        <br>
        <div>   
        <input type="submit"  class="btn btn-success" style="background-color:#33CC00;color:white" name="submit" value="Aceptar">

        <a href="{% url 'listado_horarios' %}" class="btn btn-success" style="color:white; background-color:#f6685e">Cancelar</a>
        </div>      
    </form>
</div> 

<script>
    //document.getElementById("id_pendiente").type ="hidden"; // deshabilitar

    $(document).ready(function(){
        $("#id_buscar").on("change", getClinica);    
    });

    function getClinica(){
        var clinicId = $("#id_buscar").val();
        if (clinicId){
            $("#id_clinica").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'load_Clinica' %}",
                data: {
                    "clinicId":clinicId
                },
            });
            request.done(function(response){
                $("#id_clinica").html(response);
               
            });
    
        }
        else{
            var vacio = "-"
             $("#id_clinica").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'load_Clinica' %}",
                data: {
                    "clinicId":vacio
                },
            });
            request.done(function(response){
                $("#id_clinica").html(response);
               
            });
        }
        /*else{
            $("#id_clinica").html('<option value="" selected = "selected">-----------</option>');      
            $("#id_clinica").trigger("change");
        }*/
    }

</script>

{% endblock content%}