{% extends 'base.html' %}  
{% block title %}<title>Listado de Soliciitudes de Ingreso</title>{% endblock title%}
{% block content %}

<div class="row">
	<div class="col-md">
		<div class="card">
			<div class="card-body">
				<h3 align ="center">Listado de Solicitudes de ingreso pendientes</h3>
				<table class="table table-bordered ">
					<tr style="text-align: center; background-color: #393c7f; color:whitesmoke;">
			<th style="text-align: center">Nombre del Dueño</th>
			<th style="text-align: center">Nombre de la Clínica</th>
			<th style="text-align: center">Detalle</th>
		</tr>
		{% for p in solicitudes %}
			<tr>
				<td style="text-align: center">
					
					<div>{{p.solicitante}}</div>
				</td>
				<td style="text-align: center">
				{{p.nombreClinica}}
				</td>
				<td style="text-align: center">
    				<a href="{% url 'detalle_solicitud' p.id %}" class="btn btn-primary">Detalle</a>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>
</div>
</div>
</div>&nbsp;

{% endblock content%}