{% extends 'base.html' %}  

{% block content %}
<div>
<h5>Modificar Cita</h5>
</div>

<div>
    <form role="form" method="POST" enctype ="multipart/form-data" >
        {% csrf_token %}
        <table>
            <tr>
                <td width="200">
                    {{form.as_table}}
                </td>
            </tr>
  
        </table>   
        <br>
        <div>   
        <input type="submit" action=" {% url 'detalle_cita' object.pk %}" class="btn btn-success" style="background-color:#33CC00;color:white" name="submit" value="Aceptar">

        <a href="{% url 'detalle_cita' object.id %}" class="btn btn-success" style="color:white; background-color:#f6685e">Cancelar</a>
        </div>      
    </form>
</div> 

{% endblock content%}