{% extends 'base.html' %}  

{% block content %}
<div>
<h5>Modificar Horario</h5>
</div>

<div>
    <form role="form" method="POST" enctype ="multipart/form-data" >
        {% csrf_token %}
        <table>
            <tr> 
                <td width="200">
                    {{form}}
                </td>
            </tr>
  
        </table>   
        <br>
        <div>   
        <input type="submit"  class="btn btn-success" style="background-color:#33CC00;color:white" name="submit" value="Aceptar">

        <a href="{% url 'listado_horarios' %}" class="btn btn-success" style="color:white; background-color:#f6685e">Cancelar</a>
        </div>      
    </form>
</div> 

<script>
    document.getElementById("id_hora").readOnly="True"; // deshabilitar
    document.getElementById("id_clinica").readOnly="True"; // deshabilitar

</script>

{% endblock content%}