{% extends 'base.html' %}  

{% block content %}
<div>
<h3> Modificar Datos de Paciente y su Propietario</h3>
</div>

<div>
    <form role="form" method="POST" enctype ="multipart/form-data" >
        {% csrf_token %}
        <table>
            <tr>
                <td width="200">
                    <h6><B>Datos del Paciente</B></h6>
                    {{form.as_table}}
                </td>
                <td width="200">
                    <h6>Datos del Propietario</h6>
                    {{form2.as_table}}
                </td>

            </tr>
  
        </table>   
        <br>
        <div>   
        <input type="submit"  class="btn btn-success" style="background-color:#33CC00;color:white" name="submit" value="Guardar">

        <a href="javascript: history.go(-1)" class="btn btn-success" style="color:white; background-color:#f6685e">Cancelar</a>
        </div>  
      
    </form>
</div> 

<script type="text/javascript">

// SELECT DEPENDIENTE PARA LOS MUNICIPIOS====================================
    $(document).ready(function(){
        $("#id_departamento").on("change", getMunicipios);    
    });

    function getMunicipios(){
        var departamentoId = $("#id_departamento").val();
        if (departamentoId){
            $("#id_municipio").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'load_Municipio' %}",
                data: {
                    "depId":departamentoId
                },
            });
            request.done(function(response){
                $("#id_municipio").html(response);
               
            });
    
        }else{
            $("#id_municipio").html('<option value="" selected = "selected">-----------</option>');      
            $("#id_municipio").trigger("change");
        }
    }
//===========================================================================

// PARA CALCULAR LA EDAD A PARTIR DE LA FECHA DE NACIMIENTO==================
    
    window.onload=getEdad;//Al cargar la página deactivar el input de la edad


    document.getElementById("id_edad").readOnly = true;


    // Y ahora si .... a calcular
    $(document).ready(function(){
            $("#id_fechaNacim").on("change", getEdad);    
    });

    function getEdad() {
        var dateString = $("#id_fechaNacim").val();
        let hoy = new Date()
        let fechaNacimiento = new Date(dateString)
        let edad = hoy.getFullYear() - fechaNacimiento.getFullYear()
        let diferenciaMeses = hoy.getMonth() - fechaNacimiento.getMonth()
        if (
            diferenciaMeses < 0 ||
            (diferenciaMeses === 0 && hoy.getDate() < fechaNacimiento.getDate())
        ) {
            edad--
        }

        document.getElementById("id_edad").value = edad;
        return edad
    }

</script>

{% endblock content%}