{% extends 'base.html' %}  

{% block content %}
<div>
<h3> Modificar Datos de Paciente y su Propietario</h3>
</div>

<div>
    <form role="form" method="POST" enctype ="multipart/form-data" >
        {% csrf_token %}
        <table>
            <tr>
                <td width="200">
                    <h6>Datos del Paciente</h6>
                    {{form.as_table}}
                </td>
                <td width="200">
                    <h6>Datos del Propietario</h6>
                    {{form2.as_table}}
                </td>

            </tr>
  
        </table>   
        <br>
        <div>   
        <input type="submit"  class="btn btn-success" style="background-color:#33CC00;color:white" name="submit" value="Guardar">

        <a href="{% url 'listado_pacientes' %}" class="btn btn-success" style="color:white; background-color:#f6685e">Cancelar</a>
        </div>  
        {{form.errors}}    
    </form>
</div> 


{% endblock content%}