{% extends 'base.html' %}  

{% block content %}

<h5>Listado de Pacientes Inactivos</h5>

<div class="container">
	<div>   
		<a href="{% url 'listado_pacientes' %}" class="btn btn-success" style="color:white; background-color:#33CC00">
  		Pacientes Activos</a> 
	</div>
</div>
<br>
	<table  class="table table-sm">
		<tr style="text-align: center">
			<th style="text-align: center">Paciente</th>
			<th style="text-align: center">Especie</th>
			<th style="text-align: center">Propietario</th>
		</tr>
		{% for p in pacientes %}
			<tr>
				<td style="text-align: center">
					<!--<div><img src=" {{ p.foto.url }}"/></div>-->
					<div>{{p.nombrePac}}</div>
				</td>
				<td style="text-align: center">
					{{p.especie}}
				</td>
				<td style="text-align: center">
					{{p.propietario.nombre}}
					{{p.propietario.apellido}}
				</td>
				
				<td style="text-align:center;">
					<a href="{% url 'detalle_paciente' p.pk %}" class="btn"  style="color:white; background-color:blue"><span class="glyphicon glyphicon-pencil">Detalles</a>
				</td>
				<td style="text-align:center;">
					<a href="{% url 'expediente' p.pk %}" class="btn"  style="color:white; background-color:blue"><span class="glyphicon glyphicon-pencil">Expediente</a>
				</td>
			</tr>
		
		{% endfor %}
	</table>


{% endblock content%}