{% extends 'base.html' %}  

{% block content %}
<div>
<h3> Registrar un Paciente y Propietario Nuevos</h3>
</div>

<div>
    <form role="form" method="POST" enctype ="multipart/form-data" >
        {% csrf_token %}
        <table>
            <tr>
                <td width="200">
                    <h5>Datos del Paciente</h5>
                    {{form.as_table}}
                </td>
            </tr>
        </table> 

        <h5>Datos del Propietario</h5>
        <table>
            <tr>
                <td  width="200">
                    <B><label for="{{form2.dui.name}}">{{form2.dui.label}}</label></B>
                </td>
                <td>
                    {{form2.dui}}
                </td>
            </tr>
            <tr>
                <td  width="200">
                    <B><label for="{{form2.nombre.name}}">{{form2.nombre.label}}</label></B>
                </td>
                <td>
                    {{form2.nombre}}
                </td>
            </tr>
            <tr>
                <td  width="200">
                    <B><label for="{{form2.apellido.name}}">{{form2.apellido.label}}</label></B>
                </td>
                <td>
                    {{form2.apellido}}
                </td>
            </tr>
            <tr>
                <td  width="200">
                    <B><label for="{{form2.fechaNacim.name}}">{{form2.fechaNacim.label}}</label></B>
                </td>
                <td>
                    {{form2.fechaNacim}}
                </td>
            </tr>
            <tr>
                <td  width="200">
                    <B><label for="{{form2.edad.name}}">{{form2.edad.label}}</label></B>
                </td>
                <td>
                    {{form2.edad}}
                </td>
            </tr>
            <tr>
                <td  width="200">
                    <B><label for="{{form2.direccion.name}}">{{form2.direccion.label}}</label></B>
                </td>
                <td>
                    {{form2.direccion}}
                </td>
            </tr>
            <tr>
                <td  width="200">
                    <B><label for="{{form2.departamento.name}}">{{form2.departamento.label}}</label></B>
                </td>
                <td>
                    {{form2.departamento}}
                </td>
            </tr>
            <tr>
                <td  width="200">
                    <B><label for="{{form2.municipio.name}}">{{form2.municipio.label}}</label></B>
                </td>
                <td>
                    {{form2.municipio}}
                </td>
            </tr>
            <tr>
                <td  width="200">
                    <B><label for="{{form2.telefono.name}}">{{form2.telefono.label}}</label></B>
                </td>
                <td>
                    {{form2.telefono}}
                </td>
            </tr>
            <tr>
                <td  width="200">
                    <B><label for="{{form2.correo.name}}">{{form2.correo.label}}</label></B>
                </td>
                <td>
                    {{form2.correo}}
                </td>
            </tr>
        </table>

        <h5>Dato para el Expediente</h5>
        <table>
            <tr>
                <td  width="200">
                    <B><label for="{{form3.clinica.name}}">{{form3.clinica.label}}</label></B>
                </td>
                <td>
                    {{form3.clinica}}
                </td>
            </tr>
            <tr>
        </table>
          
        <br>
        <div>   
        <input type="submit"  class="btn btn-success" style="background-color:#33CC00;color:white" name="submit" value="Guardar">

        <a href="{% url 'listado_pacientes' %}" class="btn btn-success" style="color:white; background-color:#f6685e">Cancelar</a>
        </div>      
    </form>
</div> 

<script type="text/javascript">

    document.getElementById("id_activo").type ="hidden"; // deshabilitar

// SELECT DEPENDIENTE PARA LOS MUNICIPIOS====================================
    $(document).ready(function(){
        $("#id_departamento").on("change", getMunicipios);    
    });

    function getMunicipios(){
        var departamentoId = $("#id_departamento").val();
        if (departamentoId){
            $("#id_municipio").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'load_Municipio' %}",
                data: {
                    "depId":departamentoId
                },
            });
            request.done(function(response){
                $("#id_municipio").html(response);
               
            });
    
        }else{
            $("#id_municipio").html('<option value="" selected = "selected">-----------</option>');      
            $("#id_municipio").trigger("change");
        }
    }
//===========================================================================

// PARA CALCULAR LA EDAD A PARTIR DE LA FECHA DE NACIMIENTO==================
    //window.onload=deshabilitarEdad;//Al cargar la página deactivar el input de la edad

    function deshabilitarEdad(){
        document.getElementById("id_edad").disabled = true;
    }

    // Y ahora si .... a calcular
    $(document).ready(function(){
            $("#id_fechaNacim").on("change", getEdad);    
    });

    function getEdad() {
        var dateString = $("#id_fechaNacim").val();
        let hoy = new Date()
        let fechaNacimiento = new Date(dateString)
        let edad = hoy.getFullYear() - fechaNacimiento.getFullYear()
        let diferenciaMeses = hoy.getMonth() - fechaNacimiento.getMonth()
        if (
            diferenciaMeses < 0 ||
            (diferenciaMeses === 0 && hoy.getDate() < fechaNacimiento.getDate())
        ) {
            edad--
        }

        document.getElementById("id_edad").value = edad;
        return edad
    }
</script>

{% endblock content%}